{extend name="./templates/base.html"/}

{block name="body"}
<div class="container my-5">
    <div class="row py-3">
        <div class="col">
            <div class="layui-tab layui-tab-card" lay-filter="historyTab">
                <ul class="layui-tab-title">
                    {if session('role') == 0}
                    <li lay-id="questionTab"><i class="layui-icon layui-icon-help"></i>问题</li>
                    {/if}
                    <li lay-id="replyTab"><i class="layui-icon layui-icon-reply-fill"></i>回复</li>
                    <li lay-id="uploadTab"><i class="layui-icon layui-icon-upload"></i>上传</li>
                </ul>
                <div class="layui-tab-content">
                    {if (session('role') == 0)}
                    <div class="layui-tab-item">
                        <table id="questions" class="layui-hide" lay-filter="questions" lay-data="{id: 'questions'}"></table>
                    </div>
                    {/if}
                    <div class="layui-tab-item">
                        <table id="replies" class="layui-hide" lay-filter="replies" lay-data="{id: 'replies'}"></table>
                    </div>
                    <div class="layui-tab-item">
                        <div id="uploads" class="justify-content-start row"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{// 上部工具栏}
{if (session('role') == 0)}
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <a href="{:url('student/Index/questionAsk')}">
            <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>添加</button>
        </a>
    </div>
</script>
<script type="text/html" id="toolbarRep">
    <div class="layui-btn-container"></div>
</script>
{/if}
{// 每行工具栏}
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs text-white" lay-event="inspect"><i class="layui-icon layui-icon-read"></i>查看</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs text-white" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>
{// 问题工具栏}
{if (session('role') == 0)}
<script type="text/html" id="modify_bar">
    <a class="layui-btn layui-btn-xs text-white" lay-event="inspect"><i class="layui-icon layui-icon-read"></i>查看</a>
    <a class="layui-btn layui-btn-xs text-white" lay-event="modify"><i class="layui-icon layui-icon-edit"></i>修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs text-white" lay-event="delete"><i class="layui-icon layui-icon-delete"></i>删除</a>
</script>
{/if}
{// 渲染}
<script>
    $(function () {
        layui.use(['element','flow','table'], function() {
            var element = layui.element;
            var flow = layui.flow;
            var table = layui.table;
            // 监听选项卡的变化
            element.on('tab(historyTab)',function (elem) {
                switch (elem.index) {
                    {if session('role') == 0}
                    case 0: // 学生有历史提问可看
                        if ("{:session('role')}" === '0') {
                            table.render({
                                id: 'questions',
                                elem: '#questions',
                                url: "{:url('index/Index/questionTable')}",
                                toolbar: '#toolbar',
                                title: '问题列表',
                                cols: [[
                                    {field: 'id', title: 'ID', fixed: 'left', width: 70, sort: true},
                                    {field: 'course_name', title: '课程名', sort: true},
                                    {field: 'title', title: '标题'},
                                    {field: 'read_count', title: '阅读量', width: 80, sort: true},
                                    {field: 'status', title: '状态', sort: true, width: 73, templet: function (res) {
                                            return res.status === 0?'未解决':'已解决';
                                        }},
                                    {field: 'create_time', title: '创建时间', sort: true},
                                    {field: 'update_time', title: '更新时间', sort: true},
                                    {fixed: 'right', title:'操作', toolbar: '#modify_bar',width: 210},
                                ]],
                                page: true,
                            });
                        }
                        break;
                    case 1: // 其他 用户 都有回复可看
                    {else /}
                    case 0: // 其他 用户 都有回复可看
                    {/if}
                        table.render({
                            id: 'replies',
                            elem: '#replies',
                            toolbar: '#toolbarRep',
                            url: "{:url('index/Index/replyTable')}",
                            title: '回复列表',
                            cols: [[
                                {field: 'id', title: 'ID', fixed: 'left', width: 70, sort: true},
                                {field: 'question_title', title: '问题标题', sort: true},
                                {field: 'content', title: '回复内容'},
                                {field: 'status', title: '状态', sort: true, width: 73, templet: function (res) {
                                        return res.status === 0?'未采纳':'已采纳';
                                    }},
                                {field: 'like_count', title: '点赞数', width: 80, sort: true},
                                {field: 'dislike_count', title: '拍砖数', width: 80, sort: true},
                                {field: 'create_time', title: '创建时间', sort: true},
                                {field: 'update_time', title: '更新时间', sort: true},
                                {fixed: 'right', title:'操作', toolbar: '#modify_bar',width: 210},
                            ]],
                            page: true,
                        });
                        break;
                    {if session('role') == 0}
                    case 2: // 历史上传流加载
                    {else /}
                    case 1:
                    {/if}
                        flow.load({
                            elem: '#uploads', //指定列表容器
                            isLazyimg: true, //图片懒加载
                            done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                                var lis = [];
                                $.get("{:url('index/Index/uploadPage')}?page="+page, function(res){
                                    //假设你的列表返回在data集合中
                                    layui.each(res.data, function(index, item){
                                        lis.push('<div class="card m-3"><img class="card-img-top" lay-src="'+ item.url +'">'+'<p class="card-body card-text">'+
                                            item.desc + '<a href="'+ item.url +'" class="card-link mx-3">' +
                                            '<i class="layui-icon layui-icon-download-circle"></i>下载' +
                                            (item.size/1024/1024).toPrecision(4) +'MB</a></div></p>');
                                    });
                                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                                    next(lis.join(''), page < res.pages);
                                });
                            }
                        });
                        break;
                    default:
                }
            });
            // 初始化到回复选项卡 因为这些身份的人都有这个
            element.tabChange('historyTab','replyTab');
            {if session('role') == 0}
            // 监听问题表格的操作
            table.on('tool(questions)',function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                if (layEvent === 'inspect') {
                    window.open("{:url('index/Index/questionInspect')}"+"?question_id="+data.id,'_blank');
                }
                else if (layEvent  ===  'delete')  {
                    layer.confirm('确定要删除问题"'+data.title+'"?',{icon: 3, title:'提示',skin: 'layui-layer-molv'},function (index) {
                        $.post("{:url('student/Index/questionDelete')}",{"question_id": data.id}, function (bk_data) {
                            if(bk_data.code === 200) {
                                layer.msg(bk_data.msg, {icon: 6});
                                obj.del();  //删除对应行（tr）的DOM结构，并更新缓存
                                layer.close(index);
                            }
                            else {
                                layer.msg(bk_data.msg, {icon: 5});
                            }
                        })
                    })
                }
                else if (layEvent  ===  'modify') {
                    layer.open({
                        type: 2,
                        title: '编辑问题内容',
                        shadeClose: true,
                        shade: 0.8,
                        maxmin: true,
                        area: ['90%', '90%'],
                        content:'/administrator/index/questionContentEdit?id='+data.id ,
                    });
                }
                else {
                    layer.msg('出错了', {icon: 2});
                }
            });
            {/if}
            table.on('tool(replies)',function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                if (layEvent === 'inspect') {
                    window.open("{:url('index/Index/questionInspect')}"+"?question_id="+data.question_id,'_blank');
                }
                else if (layEvent  ===  'delete')  {
                    layer.confirm('确定要删除回复"'+data.content+'"?',{icon: 3, title:'提示',skin: 'layui-layer-molv'},function (index) {
                        $.post("{:url('index/Index/replyDelete')}",{"reply_id": data.id}, function (bk_data) {
                            if(bk_data.code === 200) {
                                layer.msg(bk_data.msg, {icon: 6});
                                obj.del();  //删除对应行（tr）的DOM结构，并更新缓存
                                layer.close(index);
                            }
                            else {
                                layer.msg(bk_data.msg, {icon: 5});
                            }
                        })
                    })
                }
                else if (layEvent  ===  'modify') {
                    layer.open({
                        type: 2,
                        title: '编辑回复内容',
                        shadeClose: true,
                        shade: 0.8,
                        maxmin: true,
                        area: ['90%', '80%'],
                        content:'/administrator/index/replyContentEdit?id='+data.id ,
                    });
                }
                else {
                    layer.msg('出错了', {icon: 5}); //1对 2错 3问 4锁 5哭 6笑 7叹号
                }
            });
        });
    });
</script>
{/block}