{extend name="./templates/base.html"/}

{block name="body"}
<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {foreach $carousels as $key => $vo}
            {if $key == 0}
            <li data-target="#myCarousel" data-slide-to="{$key}" class="active"></li>
            {else /}
            <li data-target="#myCarousel" data-slide-to="{$key}"></li>
            {/if}
            {/foreach}
        </ol>
        <div class="carousel-inner">
            {foreach $carousels as $key => $carousel}
            {if $key == 0}
            <div class="carousel-item active">
                <img class="bd-placeholder-img" width="100%" height="100%" src="{$carousel.url}" alt="">
            </div>
            {else /}
            <div class="carousel-item">
                <img class="bd-placeholder-img" width="100%" height="100%" src="{$carousel.url}" alt="">
            </div>
            {/if}
            {/foreach}
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">上一个</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">下一个</span>
        </a>
    </div>
    <div class="container marketing">
        <div class="row card-deck">
            <div class="col-lg-4 card overflow-auto" style="max-height: 30rem">
                <div class="card-img-top my-3">
                    <img class="rounded-circle" width="140" height="140" src="{$teacher0_avatar}"  role="img" aria-label="Placeholder: 140x140"/>
                </div>
                <h2 class="m-3">{$teacher0_name}</h2>
                <h4>回复数：{$teacher0_r_count}</h4>
                <p class="m-3">{$teacher0_profile}</p>
            </div>
            <div class="col-lg-4 card overflow-auto" style="max-height: 30rem">
                <div class="card-img-top my-3">
                    <img class="rounded-circle" width="140" height="140" src="{$teacher1_avatar}"  role="img" aria-label="Placeholder: 140x140"/>
                </div>
                <h2 class="m-3">{$teacher1_name}</h2>
                <h4>回复数：{$teacher1_r_count}</h4>
                <p class="m-3">{$teacher1_profile}</p>
            </div>
            <div class="col-lg-4 card overflow-auto" style="max-height: 30rem">
                <div class="card-img-top my-3">
                    <img class="rounded-circle" width="140" height="140" src="{$teacher2_avatar}"  role="img" aria-label="Placeholder: 140x140"/>
                </div>
                <h2 class="m-3">{$teacher2_name}</h2>
                <h4>回复数：{$teacher2_r_count}</h4>
                <p class="m-3">{$teacher2_profile}</p>
            </div>
        </div>
        <hr class="layui-bg-gray">
        <h2 class="featurette-heading text-center my-3" style="font-family: zhanWeiFont">问题排行</h2>
        <hr class="layui-bg-gray">
        {foreach $questions as $key => $vo}
        <div class="row featurette">
            <div class="col">
                <h2 class="my-2"><span class="badge badge-secondary">{$key+1}</span>
                    <a href="{:url('index/index/questionInspect')."?question_id=".$vo.id}" role="button" target="_blank">{$vo.title}<span class="text-muted mx-3" style="font-family: zhanKuaiFont">{$vo.read_count} 次阅读</span></a>
                </h2>
            </div>
        </div>
        {/foreach}
        <hr class="layui-bg-gray">
    </div>
</main>
{/block}