{extend name="./templates/base.html"/}

{block name="body"}
<div class="container my-5">
    <div class="row justify-content-center my-5">
        <div class="col my-5">
            <p class="h1 text-center" style="font-family: zhanKuaiFont">找回密码</p>
            <!-- 验证码生成 -->
            <form id="codeGetForm" action="javascript:" method="post">
                <div class="form-row align-items-end mb-3">
                    <div class="col">
                        <label for="id"><i class="layui-icon layui-icon-username"></i>用户id</label>
                        <input type="text" id="id" name="id" class="form-control" placeholder="请输入id" required autofocus>
                    </div>
                    <div class="col">
                        <label for="email"><i class="layui-icon layui-icon-dialogue"></i>邮箱地址</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="请输入邮箱地址" required>
                    </div>
                    <div class="col">
                        <button id="codeGet" class="btn btn-primary" type="submit">获取验证码</button>
                    </div>
                </div>
            </form>
            <!-- 重置密码 -->
            <form id="passwordResetForm" action="javascript:" method="post">
                <div class="form-label-group mb-3">
                    <label for="password"><i class="layui-icon layui-icon-password"></i>新密码</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="请输入新密码" required>
                </div>
                <div class="form-label-group mb-3">
                    <label for="password_confirm"><i class="layui-icon layui-icon-password"></i>确认密码</label>
                    <input type="password" id="password_confirm" name="password_confirm" class="form-control" placeholder="请再次输入新密码" required>
                </div>
                <div class="form-label-group mb-3">
                    <label for="code"><i class="layui-icon layui-icon-app"></i>验证码</label>
                    <input type="text" id="code" name="code" class="form-control" placeholder="请输入验证码" required>
                </div>
                <button id="doPasswordReset" class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2018-2019</p>
    </div>
</div>
<script>
    layui.use(['layer'],function () {
        var layer = layui.layer;
        var data = {};
        var codeGetBtn = $('#codeGet');
        var doPasswordResetBtn = $('#doPasswordReset');
        var passwordSelect  = $('#password');
        doPasswordResetBtn.prop('disabled',true);
        codeGetBtn.click(function () {
            timer(60);
            $.each($('#codeGetForm').serializeArray(),function () {
                data[this.name] = this.value;
            });
            $.post("{:url('index/index/codeGet')}",JSON.parse(JSON.stringify(data)),function (bk_data) {
                if(bk_data.code === 200) {
                    layer.msg("验证码发送成功，请注意接收邮件！",{icon: 6});
                }
                else {
                    layer.msg(bk_data.msg, {icon: 5});
                }
            })
        });
        $('#password_confirm').focusout(function () {
            if(passwordSelect.val() !== $(this).val()) {
                layer.msg("两次输入的密码不一致！");
                // 清空确认密码框
                $(this).val('');
                // 禁用提交按钮
                doPasswordResetBtn.prop('disabled',true);
            }
            else if (($(this).val() === '') || (passwordSelect.val() === '')) {
                layer.msg("两次输入的密码均不能为空！");
                doPasswordResetBtn.prop('disabled',true);
            }
            else {
                doPasswordResetBtn.prop('disabled',false);
            }
        });
        doPasswordResetBtn.click(function () {
            $.each($('form').serializeArray(),function () {
                data[this.name] = this.value;
            });
            console.log(data);
            $.post("{:url('index/index/doPasswordReset')}",JSON.parse(JSON.stringify(data)),function (bk_data) {
                if(bk_data.code === 200) {
                    layer.msg("修改成功！请重新登录",{icon: 6});
                    //  延迟1秒跳转
                    setTimeout(function () {
                        window.location.replace("{:url('index/index/login')}")
                    },1000);
                }
                else {
                    layer.msg(bk_data.msg, {icon: 5});
                }
            })
        });
        function timer(time) {
            codeGetBtn.prop('disabled',true);
            codeGetBtn.text(time <= 0 ? "发送验证码" : ("" + (time) + "秒后可发送"));
            var handler = setInterval(function () {
                if (time <= 0) {
                    // 清除倒计时
                    clearInterval(handler);
                    codeGetBtn.text("发送验证码");
                    codeGetBtn.prop('disabled',false);
                    return false;
                }
                else {
                    codeGetBtn.text("" + (time--) + "秒后可发送");
                }
            },1000); // 1000毫秒
        }
    })
</script>
{/block}