{extend name="./templates/base.html"/}

{block name="body"}
<title></title>
<div class="container my-5">
    <div class="col">
        <div class="layui-tab layui-tab-card">
            <table id="courses" class="layui-hide" lay-filter="courses" lay-data="{id: 'courses'}"></table>
        </div>
    </div>
</div>


{// 上部工具栏}
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <a href="{:url('teacher/Index/courseAdd')}">
            <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
        </a>
    </div>
</script>
{// 每行工具栏}
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-xs text-white" lay-event="inspect">查看问题</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs text-white" lay-event="student">查看学生列表</a>
</script>
{// 渲染}
<script>
    $(function () {
        layui.use(['element','flow','table'], function() {

            var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
            var flow = layui.flow;
            var table = layui.table;

            table.render({
                id: 'courses',
                elem: '#courses',
                url: "{:url('teacher/Index/courseTable')}",
                toolbar: '#toolbar',
                title: '所教课程列表',
                cols: [[
                    {field: 'id', title: '编号', fixed: 'left', sort: true},
                    {field: 'name', title: '课程名', sort: true},
                    {field: 'semester', title: '学期'},
                    {field: 'year', title: '年份'},
                    {fixed: 'right', title:'操作', toolbar: '#bar'},
                ]],
                page: true,
            });
            table.on('tool(courses)',function (obj) {
                var data = obj.data;
                var layEvent = obj.event;
                if (layEvent === 'inspect') {
                    window.open("{:url('teacher/Index/questionList')}"+"?course_id="+data.id,'_blank');
                }
                else if (layEvent === 'student') {
                    window.open("{:url('teacher/Index/studentList')}"+"?course_id="+data.id,'_blank');
                }
                else {
                    layer.msg('出错了', {icon: 5}); //1对 2错 3问 4锁 5哭 6笑 7叹号
                }
            });

        });
    });
</script>
{/block}