{extend name="./templates/base.html"/}

{block name="body"}
<ul class="layui-timeline justify-content-center" style="margin: 6rem">
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title"> 5月17日</h3>
            <p>
                本项目进入编程阶段
            </p>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title"> 5月19日</h3>
            <p>
                对需求进一步修改
            </p>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title"> 5月20日</h3>
            <p>
                经需求更改后继续编写代码
            </p>
        </div>
    </li>
    <li class="layui-timeline-item">
        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
        <div class="layui-timeline-content layui-text">
            <h3 class="layui-timeline-title"> 5月27日</h3>
            <p>
                分工进一步明确
            </p>
        </div>
    </li>
</ul>
{/block}
